= form_for :session, url: session_path do |form|
  .form-group
    = form.label :email
    = form.text_field :email, type: 'email'
  .form-group
    = form.label :password
    = form.password_field :password
  .form-action
    = form.submit
