.text-field
  = form.label :email
  %br
  = form.text_field :email, type: 'email'
.text-field
  = form.label :handle
  %br
  = form.text_field :handle, type: 'text'
.password-field
  = form.label :password
  %br
  = form.password_field :password
