= form_for @page do |f|
  .form
    - if flash[:errors]
      #new-page-form-errors.form-errors
        %ul
          - flash[:errors].each do |error|
            %li= error
    = invisible_captcha
    .form-group
      = f.label :title
      = f.text_field :title
    .form-group
      = f.label :body
      ~ f.text_area :body
    .form-action
      = f.submit 'Publish'
