= auto_discovery_link_tag :rss, feed_board_url(@board, format: :rss)
%h1= @board.name
%p#board-description
  = @board.description
  = link_to 'Subscribe', feed_board_url(@board, format: :rss)
#post-container
  - @posts.each do |post|
    .post-item.card
      .card-header
        %p.post-item-byline= post.poster
        %p= "#{time_ago_in_words(post.updated_at)} ago"
      .card-body-alt
        %p.post-item-subject
          = link_to post.subject, board_post_path(@board, post)
= render partial: '/posts/new', objects: [@board, @post]
