- @boards = Board.all.order(priority: :asc)
- @pages = Page.all.order(priority: :asc)
%nav#top-navbar.navbar
  %ul#page-links.navbar-links
    - @pages.each do |page|
      %li
        = link_to page.title, page_path(page)
  %ul#user-links.navbar-links
    - if signed_in? && (current_user.admin? || current_user.mod?)
      %li
        = link_to 'Dashboard', dashboard_path
    - if signed_in?
      %li
        = link_to 'Sign out', sign_out_path, method: :delete
    - elsif Clearance.configuration.allow_sign_up?
      %li
        = link_to 'Sign up', sign_up_path
      %li
        = link_to 'Sign in', sign_in_path
  %ul#board-links.navbar-links
    - @boards.each_with_index do |board, count|
      %li
        = link_to board.short_name, board_path(board)
